
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-image: url("../images/bg_pattern.svg");
	background-repeat: repeat-x;
	opacity: 0.9;	
	background-size: cover;
}

/* --- Title for QuizApp --- */

.title {
	font-size: 2.8rem;
	text-align: center;
	margin: 0.5em auto;
	font-family: 'Raleway', sans-serif;
	color: #8AD7ED;
}

/* --- Container that houses Q&As --- */

.container {
	background-color: #FFF;
	background-image: url("../images/bg-waves.png");
	background-repeat: repeat-x;
	width: 500px;
	height: 650px;
	margin: 0.8em auto;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding: 0.5em 2em;
	border-radius: 1.5em;
	box-sizing: border-box;
	box-shadow: 3px 3px 5px 6px #ccc;
}


/* --- Question --- */

.question-title {
	margin: 2.1em auto;
	font-size: 3em;
	color: #F27F82;
/*	text-shadow: 2px 1px #B0B0B0;*/
}

/* --- Options --- */

.question-options {
	margin: 4em auto;
	list-style-type: none;
	text-transform: uppercase;
}

.question-options > button {
	border: 0.1px solid #FFF;
	margin-bottom: 1.2em;
	padding: 0.8em 1.5em;
	border-radius: 1.3em;
	margin-right: 1.2em;
	margin-left: 1.2em;
	font-size: 1.6rem;
	background-color: #F7F7F7;
	color: #B0B0B0;
}

button:hover {
	border: 1px solid #F7F7F7;
	background-color: #B9E5F3;
	color: #FFF;
}

.final-page {
	color: #B0B0B0;
	font-size: 2em;
	font-weight: bold;
}

